<!DOCTYPE html>
<html>
    <head>
        <title>Image Search</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/functions.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <style>
            body {
                background-image: url("<%= imageUrlArray[0] %>");
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
            }
        </style>
        <link href="css/styles.css" rel="stylesheet">
    </head>